*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.head{
	width:100%;
	height:672px;
	background: url(../images/bg.png) 0 0/100% auto no-repeat;
	padding:1px 0 0 0;
}
.head img{
	display:block;
	margin:19px 0 0 250px;
}
.search{
	font-size:16px;
	width:350px;
	height:28px;
	border-bottom:1px solid #000;
	background:url(../images/Vector.png) 332px 0 no-repeat;
	position: relative;
	bottom:115px;
	left:1000px;
}
.list{
	position: relative;
	font-size:18px;
	width:499px;
	height:26px; 
	position: relative;
	bottom:65px;
	left:862px;
}
.list span{
	padding:3px;
}
.header{
	text-align:center;
	font-size:48px;
	color: #735440;
	font-weight:600;
	margin:70px 0 0 0;
}
.button{
	padding:20px 0 0 0 ;
	text-align:center;
	width:160px;
	height:55px;
	color: white;
	font-size:16px;
	background-color:#57984C;
	margin: 60px auto ;
}

.content_top{
	background:url(../images/top_1.png) 120px 50px no-repeat,url(../images/top_2.png) 320px 50px no-repeat,url(../images/top_3.png) 540px 50px no-repeat,url(../images/top_4.png) 750px 50px no-repeat,url(../images/top_5.png) 950px 50px no-repeat,url(../images/top_6.png) 1130px 50px no-repeat,url(../images/top_7.png) 1330px 50px no-repeat; 
	padding:1px 0 0 0;
	font-size:20px;
	width:100%;
	height:190px;
}
.content_top_span{
	margin:125px 0 0 0;
}
.content_top_span span:nth-child(1){
	margin:0 0 0 100px;
}
.content_top_span span:nth-child(2){
	margin:0 0 0 79px;
}
.content_top_span span:nth-child(3){
	margin:0 0 0 74px;
}
.content_top_span span:nth-child(4){
	margin:0 0 0 80px;
}
.content_top_span span:nth-child(5){
	margin:0 0 0 63px;
}
.content_top_span span:nth-child(6){
	margin:0 0 0 93px;
}
.content_top_span span:nth-child(7){
	margin:0 0 0 50px;
}

.content_center{
	width:100%;
	height:1269px;
	padding: 1px 0 0 0;
	background:url(../images/fon_center.png) 0 50%/100% 90% no-repeat,#E5E5E5;
	
}
.content_center img{
display:block;
}
.content_center_h21{
	margin: 178px 0 0 250px;
	font-size:64px;
	font-weight:600;
}
.content_center_text{
	margin: 31px 0 0 250px;
	font-size:20px;
	line-height: 162.7%;
}
.content_center_img1{
	margin: 25px 0 0 250px;
}
.content_center_img2{
	margin: -370px 0 0 750px;
}
.content_center_h22{
	font-size:64px;
	font-weight:600;
	margin: 170px 0 0 850px;
}
.content_center_img3{
	margin: 25px 0 0 855px;
}
.content_center_text1{
	margin: 31px 0 0 853px;
	font-size:20px;
	line-height: 162.7%;
}
.content_center_img4{
	margin: -410px 0 0 -700px;
}
.content_center_img5{
	margin:-350px 0 0 -460px;
}
.content_bottom{
	padding:1px;
	width:100%;
	height:640px;
	background-color: #EDEDED;
}
.content_bottom h2{
	display: block;
	font-size:64px;
	text-align:center;
	margin:69px 0 0 0;
	font-weight: 600;
}
.content_bottom img{
	display:block;
}
.content_bottom_img1{
	margin:25px 0 0 735px;
	display: block;
}
.content_bottom_img{
	width:100%;
	height:261px;
}
.content_bottom_img2{
	margin:4px 0 0 220px;
}
.content_bottom_img3{
	margin:-283px 0 0 670px;
}
.content_bottom_img4{
	margin:-190px 0 0 1020px;
}
.content_bottom_textgreen{
	font-size:24px;
	color:#57984C;
	font-weight: 700;
}
.content_bottom_textgreen span:nth-child(1){
	margin:0 0 0 280px;
}
.content_bottom_textgreen span:nth-child(2){
	margin:0 0 0 165px;
}
.content_bottom_textgreen span:nth-child(3){
	margin:0 0 0 165px;
}
.content_bottom_line1{
	margin:35px 0 0 316px;
}
.content_bottom_line2{
	margin:-1px 0 0 705px;
}
.content_bottom_line3{
	margin:-1px 0 0 1076px;
}
.content_bottom_text{
	width: 100%;
	height: 55px;
	margin:20px 0 0 0;
	font-size:18px;
	line-height:25px;
}
.content_bottom_text p:nth-child(1){
	text-indent:12px ;
	margin:0 0 0 300px;
}
.content_bottom_text p:nth-child(2) {
	text-indent:8px;
	margin:-50px 0 0 690px;
}
.content_bottom_text p:nth-child(3) {
	text-indent:17px ;
	margin:-50px 0 0 1050px;
}
.footer{
	height: 121px;
	background:#2D3F45;
}
.footer1{
	padding:1px 0 0 0;
	background:url(../images/l1.png) 1100px 23px no-repeat,url(../images/l2.png) 1150px 23px no-repeat,url(../images/l3.png) 1200px 23px no-repeat,url(../images/l4.png) 1250px 23px no-repeat,url(../images/l5.png) 1300px 23px no-repeat;
	height: 76px;
}
.footer1_text{
	color:white;
	font-size:16px;
	margin:27px 0 0 200px;
}
.footer1_text span:nth-child(1){
	margin:0 0 0 30px;
}
.footer1_text span:nth-child(2){
	margin:0 0 0 30px;
}
.footer1_text span:nth-child(3){
	margin:0 0 0 30px;
}
.footer1_text span:nth-child(4){
	margin:0 0 0 30px;
}
.footer1_text span:nth-child(5){
	margin:0 0 0 30px;
}
.footer1_text span:nth-child(6){
	margin:0 0 0 30px;
}
.footer1_text span:nth-child(7){
	margin:0 0 0 30px;
}
.footer2{
	height:45px;
	background-color:#324950;
	text-align:center;
	color:#B9B9B9;
	padding:18px 0 0 0;
}



.page1_header{
	height:602px;
}
.page1_header1{
	height:122px;
	padding:1px 0 0 0;
	background-color:white;
}
.page1_header1 img{
	display:block;
	margin:19px 0 0 250px;
	width:166px;
	height: 83px;
}
.page1_search1{
	font-size:16px;
	width:350px;
	height:28px;
	border-bottom:1px solid #000;
	background:url(../images/Vector.png) 332px 0 no-repeat;
	position: relative;
	bottom:82px;
	left:1000px;
}
.page1_list1{
	position: relative;
	font-size:18px;
	width:499px;
	height:26px; 
	position: relative;
	bottom:55px;
	left:893px;
}
.page1_list1 span{
	margin:0 7px 0 0 ;
}
.page1_header2{
	height:480px;
	background:url(../images/page1_head.png) 0 0 no-repeat; 
}
.page1_center{
	height:2244px ;
	background-color:#E9E1E2;
	padding:1px 0 0 0;
}
.page1_center_h2{
	font-size:44px;
	color:#324950;
	margin:51px 0 0 205px;
}
.page1_center_img1{
	display:block;
	margin:39px 0 0 205px;
}
.page1_center_text1{
	margin:39px 0 0 205px;
	line-height: 150%;
	font-size:17px;
}
.page1_center_text1 span{
	font-weight:700;
	font-size:16px;
}
.page1_center_text2{
	height:60px;
	font-size: 17px;
	line-height: 150%;
	margin:20px 0 0 205px;
	padding:5px 0 0 30px;
	background:url(../images/page1_line.png) 0 0 no-repeat; 
}
.page1_center_text3{
	padding:1px 0 0 0;
	width:1152px;
	height:449px;
	background-color:#FFFAFA;
	margin:30px 0 0 185px;
}
.page1_center_text4_1{
	height: 300px;
	width: 350px;
	margin:49px 0 0 20px;
}
.page1_center_text4_1_h2{
	font-size: 20px;
	line-height: 142.7%;
	color:#324950;
	font-weight: 700;
	height:73px;
	width:350px;
	border-bottom:1px solid #000;
}
.page1_center_text4_1_div{
	margin:15px 0 0 0;
	font-size: 17px;
	line-height: 150%;
}
.page1_center_text4_1_div span{
	font-size: 17px;
	font-weight: 700;
}

.page1_center_text4_2{
	height: 300px;
	width: 350px;
	position: relative;
	bottom:300px;
	left:400px;
}
.page1_center_text4_2_h2{
	font-size: 20px;
	line-height: 142.7%;
	color:#324950;
	font-weight: 700;
	height:73px;
	width:350px;
	border-bottom:1px solid #000;
}
.page1_center_text4_2_div{
	margin:15px 0 0 0;
	font-size: 17px;
	line-height: 150%;
}
.page1_center_text4_2_div span{
	font-size: 17px;
	font-weight: 700;
}
.page1_center_text4_3{
	height: 300px;
	width: 350px;
	position: relative;
	bottom:600px;
	left:780px;
}
.page1_center_text4_3_h2{
	font-size: 20px;
	line-height: 142.7%;
	color:#324950;
	font-weight: 700;
	height:73px;
	width:350px;
	border-bottom:1px solid #000;
}
.page1_center_text4_3_div{
	margin:15px 0 0 0;
	font-size: 17px;
	line-height: 150%;
}
.page1_center_text4_3_div span{
	font-size: 17px;
	font-weight: 700;
}
.page1_center_text5{
	padding:7px 0 0 30px;
	font-weight: 700;
	font-size: 17px;
	line-height: 150%;
	height:40px;
	color:#324950;
	margin:40px 0 0 205px;
	background:url(../images/page1_line1.png) 0 0 no-repeat;
}
.page1_center_div_images{
	width:1110px;
	height:1023px;
	margin:40px 0 0 205px;
}
.page1_center_div_img1{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img1.png) 0 0/100% 85% no-repeat,white;
}
.page1_center_div_img1_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img1_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img2{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img2.png) 0 0/100% 80% no-repeat,white;
	margin:-321px 0 0 380px;
}
.page1_center_div_img2_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img2_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img3{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img3.png) 0 0/100% 92% no-repeat,white;
	margin:-321px 0 0 760px;
}
.page1_center_div_img3_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img3_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img4{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img4.png) 0 0/100% 80% no-repeat,white;
	margin:30px 0 0 0;
}
.page1_center_div_img4_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img4_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img5{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img5.png) 0 0/100% 85% no-repeat,white;
	margin:-321px 0 0 380px;
}
.page1_center_div_img5_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img5_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img6{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img6.png) 0 0/100% 91% no-repeat,white;
	margin:-321px 0 0 760px;
}
.page1_center_div_img6_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img6_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img7{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img7.png) 0 0/100% 80% no-repeat,white;
	margin:30px 0 0 0;
}
.page1_center_div_img7_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img7_text{
	margin:4px 0 0 0;
	font-size:16px;
}

.page1_center_div_img8{
	padding:1px 0 0 0;
	text-align:center;
	color:#57984C;
	width:350px;
	height:321px;
	background:url(../images/page1_img8.png) 0 0/100% 92% no-repeat,white;
	margin:-321px 0 0 380px;
}
.page1_center_div_img8_h2{
	margin:265px 0 0 0;
	font-size:20px;
	font-weight: 700;
}
.page1_center_div_img8_text{
	margin:4px 0 0 0;
	font-size:16px;
}



.page2_header{
	height:122px;
}
.page2_header1{
	height:122px;
	padding:1px 0 0 0;
	background-color:white;
}
.page2_header1 img{
	display:block;
	margin:19px 0 0 250px;
	width:166px;
	height: 83px;
}
.page2_list1 span{
	margin:0 7px 0 0 ;
}
.page2_search1{
	font-size:16px;
	width:350px;
	height:28px;
	border-bottom:1px solid #000;
	background:url(../images/Vector.png) 332px 0 no-repeat;
	position: relative;
	bottom:82px;
	left:1000px;
}
.page2_list1{
	position: relative;
	font-size:18px;
	width:499px;
	height:26px; 
	position: relative;
	bottom:55px;
	left:893px;
}
.page2_center{
	padding:1px 0 0 0;
	height:1216px;
	background:url(../images/page2_fon_center.png) 50% 50%/86% 100% no-repeat, #E5E9E5;
}
.page2_center_block1{
	height:1030px;
	width:540px;
	margin:20px 0 0 250px;
}
.page2_center_block1_text1{
	padding:1px 0 0 39px;
	color:#57984C;
	background:url(../images/page2_arrow.png) 0 3px no-repeat;
}
.page2_center_block1_text2{
	margin:19px 0 0 0;
	font-weight: 600;
	font-size: 54px;
	line-height: 142.7%;
	color:#324950;;
}
.page2_center_block1_text2 span{
	color:green;
}
.page2_center_block1_img1{
	margin:39px 0 0 0;
}
.page2_center_block1_text3{
	padding:10px 0 0 103px;
	height:81px;
	margin:44px 0 0 0;
	font-size:30px;
	color:#CF2333;
	font-weight: 700;
	background:url(../images/page2_img1.png) 0 0 no-repeat; 
}
.page2_center_block1_text4{
	font-weight: 700;
	width: 188px;
	font-size: 20px;
	color:#57984C;
	margin:41px 0 0 0;
	border-bottom:1px solid #57984C;
	padding:0 0 20px 0; 
}
.page2_center_block1_text5{
	font-size: 17px;
	line-height: 162.7%;
	margin:24px 0 0 0;
	color:#324950;;
}
.page2_center_block1_text5 span{
	font-weight: 700;
}
.page2_center_block1_text6{
	font-weight: 700;
	width: 188px;
	font-size: 20px;
	color:#57984C;
	margin:30px 0 0 0;
	border-bottom:1px solid #57984C;
	padding:0 0 15px 0; 
}
.page2_center_block1_ul li{
	line-height:200%; 
	padding: 0 0 0 20px;
	background:url(../images/page2_marker.png) 0 14px no-repeat; 
}
.page2_center_block1_ul{
	margin:18px 0 0 0;
	font-weight: 400;
	font-size: 17px;
}
.page2_center_block1_text7{
	font-weight: 700;
	width: 188px;
	font-size: 20px;
	color:#57984C;
	margin:30px 0 0 0;
	border-bottom:1px solid #57984C;
	padding:0 0 15px 0; 
}
.page2_center_block1_ul1 li{
	line-height:200%; 
	padding: 0 0 0 20px;
	background:url(../images/page2_marker.png) 0 14px no-repeat; 
}
.page2_center_block1_ul1{
	margin:18px 0 0 0;
	font-weight: 400;
	font-size: 17px;
}
.page2_center_block2{
	height:1030px;
	width: 540px;
	margin:-980px 0 0 810px;
}
.page2_center_button{
	font-weight: 700;
	margin:30px 0 0 310px;
	font-size: 17px;
	color:#57984C;
	padding:17px 0 0 75px;
	height:55px;
	width: 225px;
	border:2px solid #57984C;
	border-radius: 60px;
	background: url(../images/page2_img3.png) 29px 50% no-repeat;
}
.page2_center_block2_text1{
	font-weight: 700;
	width: 188px;
	font-size: 20px;
	color:#57984C;
	margin:30px 0 0 0;
	border-bottom:1px solid #57984C;
	padding:0 0 15px 0; 
}
.page2_center_block2_ul1 li{
	line-height:200%; 
	padding: 0 0 0 20px;
	background:url(../images/page2_marker.png) 0 14px no-repeat; 
}
.page2_center_block2_ul1{
	margin:18px 0 0 0;
	font-weight: 400;
	font-size: 17px;
}
.page2_center_block2_text2{
	font-weight: 700;
	width: 188px;
	font-size: 20px;
	color:#57984C;
	margin:30px 0 0 0;
	border-bottom:1px solid #57984C;
	padding:0 0 15px 0; 
}
.page2_center_block2_text21{
	font-weight: 400;
	font-size: 17px;
	color:#324950;
	margin:18px 0 0 0;
}




.page3_header{
	height:602px;
}
.page3_header1{
	height:122px;
	padding:1px 0 0 0;
	background-color:white;
}
.page3_header1 img{
	display:block;
	margin:19px 0 0 250px;
	width:166px;
	height: 83px;
}
.page3_list1 span{
	margin:0 7px 0 0 ;
}
.page3_search1{
	font-size:16px;
	width:350px;
	height:28px;
	border-bottom:1px solid #000;
	background:url(../images/Vector.png) 332px 0 no-repeat;
	position: relative;
	bottom:82px;
	left:1000px;
}
.page3_list1{
	position: relative;
	font-size:18px;
	width:499px;
	height:26px; 
	position: relative;
	bottom:55px;
	left:893px;
}
.page3_header2{
	height:480px;
	background:url(../images/page3_header_img.jpg) 0 0 no-repeat; 
}
.page3_center1{
	background-color: #E5E7E9;
	height: 1024px;
	padding:1px 0 0 0;
}
.page3_center1_block1{
	width:350px;
	height:923px;
	margin:51px 0 0 205px;
}
.page3_center1_block1_text1{
	color: #324950;
	font-weight: 700;
	font-size: 44px;
	margin:20px 0 0 0;
}
.page3_center1_block1 img{
	margin:40px 0 70px 4px;
	display:block; 
}
.page3_center1_block1_textinput{
	color: #324950;
	font-size: 17px;
	font-weight: 400;
	margin:25px 0 10px 4px;
}
.page3_center1_block1_input{
	border: 1px solid #DADADA;
	width: 350px;
	height: 55px;
	background-color:white; 
	border-radius: 10px;
}
.page3_center1_block2{
	width:635px;
	height:763px;
	margin:-760px 0 0 660px;
}
.page3_center1_block2_text1{
	color: #324950;
	font-size: 17px;
	margin:0 0 0 2px;
}
.page3_center1_block2_input1{
	width: 635px;
height: 55px;
background:url(../images/page3_arrow_input.png) 600px 23px no-repeat ,#FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
margin:11px 0 0 0;
color: #324950;
	font-size: 17px;
	padding:18px 0 0 11px;
}
.page3_center1_block2_text2{
	color: #324950;
	font-size: 17px;
	margin: 22px 0 0 2px;
}
.page3_center1_block2_input2{
	width: 635px;
height: 55px;
background-color:#FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
margin:11px 0 0 0;
}
.page3_center1_block2_input3{
		width: 635px;
height: 390px;
background-color:#FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
margin:11px 0 0 0;
}
.page3_center1_block2 img{
	display: block;
	margin:23px 0 0 0;
}
.page3_center1_block2_input4{
	width: 225px;
height: 55px;
background-color:#FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
margin:-41px 0 0 140px;
}
.page3_center1_block2_button
{
	padding:18px 0 0 55px;
	width: 225px;
height: 55px;
border: 1px solid #DADADA;
border-radius: 10px;
margin:-55px 0 0 408px;
background: #57984C;
font-size: 17px;
color: #FFFFFF;
}
.page3_center2{
	padding:1px 0 0 0;
height: 250px;
}
.page3_center2_text1{
	margin:45px 0 0 44%;
	text-align: center;
	color: #57984C;
	font-weight: 700;
	font-size: 20px;
	width:183px;
	height: 41px;
	border-bottom:1px solid #57984C;
}
.page3_center2_p{
	margin:15px 0 0 0;
	text-align: center;
	line-height: 150%;
	color: #324950;
	font-size: 17px;
}
.page3_center2 span{
	color:#57984C;
}

