<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Tomato one</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width">
</head>
<body>
	<div class="wrapper " id="app">
		<header class="page1_header">
			<div class="page1_header__container">
				<div class="page1_header__content">
					<div class="page1_header__logo">
						<a href="index.html"><img src="images/Logo2.png" ></a>
					</div>
					<div class="burger_block_2">
							<img src="images/burger1_121003.png" class="burger_2">
							<ul class="burger_block_ul1">
									<a href="index.html"><li>Home</li></a>
								<li>Company Profile</li>
								<a href="tomatoall.html"><li>Products</li></a>
								<li>Services</li>
								<li>R & D</li>
								<a href="contactas.html"><li>Contact</li></a>
							</ul>
						</div>
					<div class="page1_header__search-nav">
						<div class="page1_header__search">Search</div>
						<div class="page1_header__nav">
							<ul>
								<a href="index.html"><li>Home</li></a>
								<li>Company Profile</li>
								<a href="tomatoall.html"><li>Products</li></a>
								<li>Services</li>
								<li>R & D</li>
								<a href="contactas.html"><li>Contact</li></a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="page2_center">
			<div class="page2_center__container">
				<div class="page2_center__content">
					<div class="page2_center__block1">
						<div class="page2_center__text1">Return to all tomatoes</div>
						<div class="page2_center__text2" > <span>{{product.title}}</span><br>{{product.short_text}}</div>
						<img src="images/Union.png" class="page2_center__union1">
						<div class="page2_center__text3">Very high yield and excellent fruits quality!</div>
						<div class="page2_center__text4">CHARACTERISTICS</div>
						<div class="page2_center__text5">
							<span>Resistance</span> <br>
							HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br> 
							IR: TYLCV <br>
						</div>
						<div class="page2_center__text6">Plant</div>
						<div class="page2_center__list1"> 
							<ul>
								<li>Strong vigor that provides good leaf coverage.</li>
								<li>  Very high productivity with good fruit setting.</li>
								<li>  Early matured variety.</li>
							</ul>
						</div>
						<div class="page2_center__text11">Fruit</div>
						<div class="page2_center__list11">
							<ul>
								<li>Long shelf life on plant and post harvest.</li>
								<li> Nice shiny attractive deep red color.</li>
								<li> Average fruit size: 140 – 160 grams.</li>
							</ul>
						</div>
					</div>
					<div class="page2_center__block2">
						<img v-bind:src="product.image" class="page2_center__block2-img">
						<div class="page2_center__download">
						<a class="but_downoload"  @click.prevent="addToCart(product.id)" href="#" v-if="!btnVisible" > Add to cart</a>
						<a class="but_downoload" href="contactas.html" v-if="btnVisible">Go to cart</a>
					</div>
						<div class="page2_center__text7">Cycle</div>
						<div class="page2_center__list2">
							<ul>
								<li>Spring</li>
								<li>Fall</li>
								<li>Winter</li>
							</ul>
						</div>
						<div class="page2_center__text8">Color</div>
						<div class="page2_center__text9">Red</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
					<div class="footer1">
						<div class="footer1_container">
							<div class="footer1_content">
								<div class="footer1_list">
									<ul>
										<li>PROFILE</li>
										<li>MANAGEMENT</li>
										<li>PRODUCTS</li>
										<li>R&D</li>
										<li>LINKS</li>
										<li>SITEMAP </li>
										<li>CONTACT</li>
									</ul>
								</div>
							<div class="footer1_el">
								<div class="footer1_element">
								<img src="images/l1.png" alt="">
								<img src="images/l2.png" alt="">
								<img src="images/l3.png" alt="">
								<img src="images/l4.png" alt="">
								<img src="images/l5.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="footer2">
							AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
					</div>
				</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="js/main.js"></script>
	</div>
</body>
</html>